@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

#top-frame {
    position: fixed;
    top: 3vw;
    left: 20%;
    width: 60%;
    background-color: rgb(23, 134, 185);
    border: 2px solid black;
    border-radius: 1vw;
    text-align: center;
    padding: 2vw 0;
    font-size: 1vw;
}

#bottom-frame {
    background-color: rgb(23, 134, 185);
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#bottom-frame > h2 {
    padding: 0.8vw 0.4vw;
    font-size: 0.8vw;
    padding-right: 1vw;
    float: right;
}

#bottom-frame > a > img {
    max-width: 2vw;
    margin: 0.4vw;
    float: left;
}

#side-frame {
    position: fixed;
    left: 1vw;
    top: 18vw;
    /*height: 20vw;*/
    bottom: 14vw;
    background-color: rgb(23, 134, 185);
    width: 13%;
    border: 2px solid black;
    border-radius: 1vw;
}

#nav-frame > ul {
    list-style: none;
}

#nav-frame > ul > li {
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
}

#top-li-el {
    margin-top: 2vw;
}

#nav-frame > ul > li > a {
    font-size: 1vw;
    padding: 0.5vw;
    text-decoration: none;
    color: black;
    margin-top: 5vw;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#nav-frame > ul > li:hover {
    background-color: rgb(87, 117, 151);
}